/* Set a background color for the entire app */
body {
    background-color: #7095b5; /* Light blue background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Navbar background */
  .navbar {
    background-color: #004080; /* Dark blue background */
  }
  
  /* Page header background */
  h1 {
    background-color: #887c7c; /* Light grey background */
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Card background color */
  .card {
    background-color: #cf6b6b; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #004080; /* Dark blue background */
    border-color: #004080;
  }
  
  /* Footer background color */
  footer {
    background-color: #333333; /* Dark grey background */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  